.imagesBox{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    height: 40vh;
    overflow: auto;
    padding: 1.8rem;
}
.imageDiv{
    width: 5rem;
    height: 5rem;
    border-radius: .5rem;
    overflow: hidden;
    position: relative;
}
.imageDiv img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.imageDiv button{
    position: absolute;
    top: 5px;
    right: 5px;
}